* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: rgb(116, 114, 114);
}

img {
    max-width: 100%;
    height: auto;
}

.navcontainer{
    top: 0;
    margin: 0;
    position: fixed;
    width: 100%;
}

.heading {
    margin-top: 60px;
    padding: 20px;
    display: block;
    background-color: #131313;
    text-align: center;
    font-weight: bold;
    font-size: 56px;
    color: #f5f5f7;
}

#nav {
    margin: 0;
    padding: 0;
    top: 0;
    display: block;
    text-align: center;
    list-style: none;
    width: 100%;
    background-color: black;
}

#nav li {
    display: inline-block;
    text-align: center;
}

#nav li a {
    display: block;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: gold;
}

/* End navigation bar styling. */

.row{
    content: '''';
    display: table;
    clear: both;
}

.leftcolumn {   
    float: left;
    width: 50%;
    padding-left: 80px;
  }

.contrast{
    color: #f5f5f7;
    font-weight: bold;
    font-size: 24px;
}

.contrast1{
    color: #f5f5f7;
    font-size: 14px;
}

.pdime {
    width: 80%;
    color: #f5f5f7;
}

  /* Right column */
    .rightcolumn {
    float: left;
    width: 50%;
    padding-left: 60px;
  } 

  /* Fake image */
    .shortimg {
    height: 300px;
    width: 80%;
  }

  /* Add a card effect for articles */
    .card1{
    background-color:  rgb(116, 114, 114);
    padding: 20px;
  }

    .card2{
    background-color:  rgb(116, 114, 114);
    padding: 20px;
    margin-top: 20px;
  }

.footer {
    background-color: black;
    color: gold;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .heading {
        font-size: 36px;
    }
    .rightcolumn, .leftcolumn{
    width: 50%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media screen and (max-width: 768px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .contrast{
        font-size: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media screen and (min-width: 992px) {
    .column .content {
        font-size: 22px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media screen and (min-width: 1200px) {
    .column .content {
        font-size: 28px;
    }
}