* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.topnav {
    position: sticky;
    width: 100%;
    position: -webkit-sticky;
    overflow: hidden;
    top: 0;
}

.heading {
    margin: 0;
    padding: 20px;
    top: 0;
    display: block;
    background-color: #131313;
    text-align: center;
    font-weight: bold;
    font-size: 56px;
    color: #f5f5f7;
}

#nav {
    margin: 0;
    padding: 0;
    top: 0;
    display: block;
    text-align: center;
    list-style: none;
    width: 100%;
    background-color: black;
}

#nav li {
    display: inline-block;
    text-align: center;
}

#nav li a {
    display: block;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: gold;
}

/* End navigation bar styling. */

.column {
    top: 0;
    float: left;
    width: 33.33%;
    padding: 15px;
    background-color: black;
    margin: 0 auto;
}

.row {
    content: '''';
    display: table;
    clear: both;
}

.column .content {
    bottom: 0;
    text-align: center;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    font-size: 26px;
    font-family: Arial;
}

.footer {
    background-color: black;
    color: gold;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 800px) {
    .tagline, .heading {
        font-size: 36px;
    }
}

/* Extra small devices (phones, 600px and down) */

@media screen and (max-width: 600px) {
    .column .content {
        font-size: 24px;
    }
    .column {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media screen and (min-width: 600px) {
    .column .content {
        font-size: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media screen and (min-width: 768px) {
    .column .content {
        font-size: 15px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media screen and (min-width: 992px) {
    .column .content {
        font-size: 22px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media screen and (min-width: 1200px) {
    .column .content {
        font-size: 28px;
    }
}